ProyectoBiblioteca/BibliotecaWeb/Service References/BibliotecaSvc/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53888/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53888/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Logear_InputMessage">
    <wsdl:part name="parameters" element="tns:Logear" />
  </wsdl:message>
  <wsdl:message name="IService1_Logear_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogearResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TipoSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:TipoSesion" />
  </wsdl:message>
  <wsdl:message name="IService1_TipoSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:TipoSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IdUsuarioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IdUsuarioSesion" />
  </wsdl:message>
  <wsdl:message name="IService1_IdUsuarioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdUsuarioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserNameExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExiste" />
  </wsdl:message>
  <wsdl:message name="IService1_UserNameExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarEjemplar_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEjemplar" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarEjemplar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEjemplarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDocumento" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InfoDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:InfoDocumento" />
  </wsdl:message>
  <wsdl:message name="IService1_InfoDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InfoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarSolicitudFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudFecha" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarSolicitudFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarDetalleSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDetalleSolicitud" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarDetalleSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDetalleSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPrestamo" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DevolucionPrestamo_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolucionPrestamo" />
  </wsdl:message>
  <wsdl:message name="IService1_DevolucionPrestamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolucionPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Doc_EjemplarDisponible_InputMessage">
    <wsdl:part name="parameters" element="tns:Doc_EjemplarDisponible" />
  </wsdl:message>
  <wsdl:message name="IService1_Doc_EjemplarDisponible_OutputMessage">
    <wsdl:part name="parameters" element="tns:Doc_EjemplarDisponibleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarEjemplar_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEjemplar" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarEjemplar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEjemplarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarEjemplarDisponibilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEjemplarDisponibilidad" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarEjemplarDisponibilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEjemplarDisponibilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarDocumento" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEjemplar_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEjemplar" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEjemplar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEjemplarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDocumento" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RechazarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:RechazarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IService1_RechazarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechazarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRutUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRutUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRutUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRutUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteRutUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteRutUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteRutUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteRutUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteEmailUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteEmailUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteEmailUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteEmailUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EsActivoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EsActivoUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_EsActivoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EsActivoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Logear">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Logear" message="tns:IService1_Logear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogearResponse" message="tns:IService1_Logear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TipoSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TipoSesion" message="tns:IService1_TipoSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TipoSesionResponse" message="tns:IService1_TipoSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IdUsuarioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IdUsuarioSesion" message="tns:IService1_IdUsuarioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IdUsuarioSesionResponse" message="tns:IService1_IdUsuarioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserNameExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserNameExiste" message="tns:IService1_UserNameExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserNameExisteResponse" message="tns:IService1_UserNameExiste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarEjemplar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarEjemplar" message="tns:IService1_AgregarEjemplar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarEjemplarResponse" message="tns:IService1_AgregarEjemplar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarDocumento" message="tns:IService1_AgregarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarDocumentoResponse" message="tns:IService1_AgregarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InfoDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InfoDocumento" message="tns:IService1_InfoDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InfoDocumentoResponse" message="tns:IService1_InfoDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarUsuario" message="tns:IService1_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarUsuarioResponse" message="tns:IService1_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarSolicitud" message="tns:IService1_AgregarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarSolicitudResponse" message="tns:IService1_AgregarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitudFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarSolicitudFecha" message="tns:IService1_AgregarSolicitudFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarSolicitudFechaResponse" message="tns:IService1_AgregarSolicitudFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDetalleSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarDetalleSolicitud" message="tns:IService1_AgregarDetalleSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarDetalleSolicitudResponse" message="tns:IService1_AgregarDetalleSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarPrestamo" message="tns:IService1_AgregarPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarPrestamoResponse" message="tns:IService1_AgregarPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolucionPrestamo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DevolucionPrestamo" message="tns:IService1_DevolucionPrestamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DevolucionPrestamoResponse" message="tns:IService1_DevolucionPrestamo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Doc_EjemplarDisponible">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Doc_EjemplarDisponible" message="tns:IService1_Doc_EjemplarDisponible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Doc_EjemplarDisponibleResponse" message="tns:IService1_Doc_EjemplarDisponible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEjemplar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificarEjemplar" message="tns:IService1_ModificarEjemplar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificarEjemplarResponse" message="tns:IService1_ModificarEjemplar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEjemplarDisponibilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificarEjemplarDisponibilidad" message="tns:IService1_ModificarEjemplarDisponibilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificarEjemplarDisponibilidadResponse" message="tns:IService1_ModificarEjemplarDisponibilidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificarDocumento" message="tns:IService1_ModificarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificarDocumentoResponse" message="tns:IService1_ModificarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificarUsuario" message="tns:IService1_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificarUsuarioResponse" message="tns:IService1_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEjemplar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarEjemplar" message="tns:IService1_EliminarEjemplar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarEjemplarResponse" message="tns:IService1_EliminarEjemplar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarDocumento" message="tns:IService1_EliminarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarDocumentoResponse" message="tns:IService1_EliminarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarUsuario" message="tns:IService1_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarUsuarioResponse" message="tns:IService1_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechazarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RechazarSolicitud" message="tns:IService1_RechazarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RechazarSolicitudResponse" message="tns:IService1_RechazarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmailUsuario" message="tns:IService1_GetEmailUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmailUsuarioResponse" message="tns:IService1_GetEmailUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRutUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRutUsuario" message="tns:IService1_GetRutUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRutUsuarioResponse" message="tns:IService1_GetRutUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteRutUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExisteRutUsuario" message="tns:IService1_ExisteRutUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExisteRutUsuarioResponse" message="tns:IService1_ExisteRutUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteEmailUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExisteEmailUsuario" message="tns:IService1_ExisteEmailUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExisteEmailUsuarioResponse" message="tns:IService1_ExisteEmailUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActivarUsuario" message="tns:IService1_ActivarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActivarUsuarioResponse" message="tns:IService1_ActivarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EsActivoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EsActivoUsuario" message="tns:IService1_EsActivoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EsActivoUsuarioResponse" message="tns:IService1_EsActivoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Logear">
      <soap:operation soapAction="http://tempuri.org/IService1/Logear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoSesion">
      <soap:operation soapAction="http://tempuri.org/IService1/TipoSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdUsuarioSesion">
      <soap:operation soapAction="http://tempuri.org/IService1/IdUsuarioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameExiste">
      <soap:operation soapAction="http://tempuri.org/IService1/UserNameExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarEjemplar">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarEjemplar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDocumento">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoDocumento">
      <soap:operation soapAction="http://tempuri.org/IService1/InfoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitudFecha">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarSolicitudFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDetalleSolicitud">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarDetalleSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPrestamo">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolucionPrestamo">
      <soap:operation soapAction="http://tempuri.org/IService1/DevolucionPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Doc_EjemplarDisponible">
      <soap:operation soapAction="http://tempuri.org/IService1/Doc_EjemplarDisponible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEjemplar">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificarEjemplar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEjemplarDisponibilidad">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificarEjemplarDisponibilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarDocumento">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEjemplar">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarEjemplar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDocumento">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechazarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IService1/RechazarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmailUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRutUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRutUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteRutUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ExisteRutUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteEmailUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ExisteEmailUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ActivarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsActivoUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/EsActivoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53888/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>